@media (min-width: 768px) {
    .btn {
        padding: 12px 24px;
    }
    .nav {
        padding: 24px 44px;
    }
    .hero{
        display: flex;
        flex-direction: row;
        padding: 64px 44px;
    }
    .hero img{
        width: 250%;
        position: relative;
        top: -240px;
        left: -60px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}