@media (min-width: 900px) {
    .btn {
        padding: 12px 24px;
    }
    .nav {
        padding: 24px 80px;
        width: 80%;
    }
    .hero{
        display: flex;
        flex-direction: row;
        padding: 64px 80px;
        align-items: center;
        
    }
   
    .hero img{
        width: 120%;
        position: relative;
        top: -150px;
       left: 50px;
    }
    main {
        margin-top: -270px;
        padding: 64px 44px 144px;
        gap: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer{
        padding: 24px 80px;
        width: 90%;
    }
}